    <div class="login">
   <div class="login-card">
     <form action="/login" class="d-flex flex-column" method="post">
    <h2>login</h2> 
    <input required type="text" value="<%= locals.name %>"  name="name" placeholder="name" class="login-card-in">
     <input required type="text" name="pass" placeholder="password"class="login-card-in" >
     <button type="submit"class="login-card-in" >submit</button>   
     <p><%= locals.err %> </p>
    </form>
    </div>
    </div>
    
      
 
