<div class="home-body">
     <h1>Welcom to photos api </h1>
     <p>here you can use over 400 milon photos <br>
     free and cnotains evrey idea you could imagen</p>
     <a href="/signin" class="main-butt">sign in</a>
     <a href="/login" class="main-butt">login</a>
</div>