
    <form action="/signin" method="post">
     <input required type="text" value="<%= locals.name %>"  name="name" placeholder="name">
     <input required type="text" name="pass" placeholder="password">
     <input required  type="text" name="passcon" placeholder="confirm password">
     <button type="submit">submit</button>   
    </form>
    <h3><%= locals.err %> </h3>
 
