.home-body{
    width: 100vw;
    padding: 1rem;
    margin-top: 5rem;
    color: white;
    text-align: center;
}

.main-butt{
    color: white;
    text-decoration: none;
    background-color: var(--color-u);
    padding:.5rem;
    border-radius: 10px;
    margin-left: .4rem;
    transition: 0.3s ease-in-out;
}

.main-butt:hover{

    color: white;
}