
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import 'login.css';
@import 'home.css';
@import 'docs.css';
html{
    font-family:"Nunito";
}
body{
    background:linear-gradient(90deg, rgba(0,77,111,0.8267682072829132) 0%, rgba(0,0,0,0.6643032212885154) 0%),url('img/g1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.nav-bar{
    width: 100vw;
    height: 2rem;
    margin-bottom: 5%;
    padding: .7rem;
    font-size: 1.3rem;

}
.nav-bar a{
    text-decoration: none;
    color: white;
    margin: auto; 
    font-family:"Nunito";
}

.none{
    margin-top: 3rem;
 }
